  /* ============== Right Section ============== */
  .right-section .contact-card {
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
  }
  .right-section .addressImg {
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.825), orange);
    border-radius: 25px;
    padding: 10px 10px;
  }
  .right-section .addressImg i {
    font-size: 30px;
    border-radius: 50%;
    padding: 5px 5px;
    background-color: white;
    color: orange;
  }
  .right-section .contact-text h5 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
  }
  .right-section .contact-text .card-text {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: -0.4em;
  }
  .right-section .contactImg {
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, rgb(247, 178, 50), rgb(251, 94, 94));
    border-radius: 25px;
    padding: 10px 10px;
  }
  .right-section .contactImg i {
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px 5px;
    color: rgb(247, 178, 50);
  }
  .right-section .phoneIcon {
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, rgb(240, 186, 86), orange);
    border-radius: 25px;
    padding: 10px 10px;
    padding-top: 15px;
  }
  .right-section .phoneIcon i {
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 8px;
    margin-top: 20px;
    color: white;
  }
  .right-section .socialIcons {
    display: grid;
    place-items: center;
  }
  .right-section .socialIcons p {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    line-height: 5px;
  }
  .right-section .socialIcons img {
    width: 30px;
    height: 30px;
  }

  /* ============== Left Section (Contact Tab) ============== */
  .left-section .contact-form {
    width: 390px;
    height: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.683)!important;
    border-radius: 10px!important;
    backdrop-filter: blur(15px);
    margin-top: 2.1em;
    padding: 2em 2.5em;
  }
  .left-section .bloc h3 {
    color: white;
    font-family: "Libre Bodoni", serif;
    font-size: 25px;
    text-align: center;
  }
  .left-section .form-group input,
  .left-section .form-group textarea {
    background-color: transparent;
    border-radius: 0px;
    margin-top: 10px;
    color: white;
    padding-left: 0px;
    margin-top: 0;
   }
    .left-section .inputName {
      border-top: 1px solid rgba(255, 255, 255, 0.683);
      border-left: 1px solid rgba(255, 255, 255, 0.683);
      border-right: none;
      border-bottom: none;
    }
    .left-section .inputEmail {
      border-top: 1px solid rgba(255, 255, 255, 0.683);
      border-left: none;
      border-right: 1px solid rgba(255, 255, 255, 0.683);
      border-bottom: none;
    }
    .left-section .inputSubject {
      border-top: 1px solid rgba(255, 255, 255, 0.683);
      border-left: 1px solid rgba(255, 255, 255, 0.683);
      border-right: none;
      border-bottom: none;
    }
    .left-section .inputMessage {
      border-top: 1px solid rgba(255, 255, 255, 0.683);
      border-left: none;
      border-right: 1px solid rgba(255, 255, 255, 0.683);
      border-bottom: 1px solid rgba(255, 255, 255, 0.683);
    }
    .left-section .form-group input:focus,
    .left-section .form-group textarea:focus {
      box-shadow: none;
    }
    .left-section .form-group input::placeholder,
    .left-section .form-group textarea::placeholder {
      color: #e3e1e1;
      font-size: 15px;
      font-family: "Lustria", serif;
      padding: 0 0 0 15px;
    }
    .left-section button {
      background: rgba(255, 0, 0, 0.825);
      font-size: 15px;
      border: none;
      color: white;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 25px;
      text-transform: uppercase;
      box-shadow: rgba(220, 1, 1, 0.825) 0px 2px 8px 0px;
    }
    .left-section button:hover {
      background: rgba(220, 1, 1, 0.825);
    }
    .btnSubmit {
      display: flex;
      justify-content: center;
      align-items: center;
    }